
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 46, 51);
}

.section{
    width: 70%;
    height: 250px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(50% - 125px);
    /*height: 100%;*/
    /*width: 70%;*/

    display: flex;
    justify-content: center;
    align-items: center;


}
.phone{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgb(0,150,135);
}
/*0 150 135*/